<!DOCTYPE HTML>
<html>
<head>
    <title> Data collection </title>
    <meta Content-Type="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/CSS" href="css/main.css">
</head>
<body>

<div class="fornt_page">
    <div class="logo">Data collection </div>

    <div id="container">

        <div class="form-group" id="user">
            <div class="form-text">
                <label> Data </label>
            </div>
            <div>
                <input type=pattern id="User_Input_Name" class="form-textbox">
            </div>
        </div>

        <div class="form-group" id="useranme">
            <div class="form-text">
                <label> Data0 </label>
            </div>
            <div>
                <input type=pattern id="User_Input_Name" class="form-textbox">
            </div>
        </div>

        <div class="form-group" id="useranme0">
            <div class="form-text">
                <label> Data1 </label>
            </div>
            <div>
                <input type=pattern id="User_Input_Name" class="form-textbox">
            </div>
        </div>

        <div class="form-group" id="useranme1">
            <div class="form-text">
                <label> Data2 </label>
            </div>
            <div>
                <input type=pattern id="User_Input_Name" class="form-textbox">
            </div>
        </div>

        <div class="form-checkbox">
            <label id="checkbox1">
                <input type="checkbox"> choice1
            </label>
            <label id="checkbox2">
                <input type="checkbox"> choice1
            </label>
        </div>

        <div class="form-group" id="useranme2">
            <div class="form-text">
                <label> Data3 </label>
            </div>
            <div>
                <input type=pattern id="User_Input_Name" class="form-textbox">
            </div>
        </div>

        <button type="submit" id="submit1" class="submit-box">Submit</button>
    </div>
</div>
</body>
</html>