body
{
	margin			: 0;
	/*background		: #000 url("/clients_files/views/pictures/b.jpg");*/
    background      : #000 url("/clients_files/views/pictures/d.png");
	background-size		: cover;
	background-repeat	: no-repeat;
}

@keyframes example {
  0% {
    left: 0%;
    bottom: -150%;
    animation-timing-function: ease-in;
    }
  80% {
    left: 0%;
    bottom: -70%;
    }
  100% {
    	left: 0%;
    	bottom: -75%;
    };
}

.img_st
{
	/*visibility: 	false;*/
	position: relative;
	left: 0%;
    bottom: -150%;
	visibility: 	true;
	animation-name: example;
	left: 0%;
    bottom: -75%;
  	animation-duration: 1.3s;
	z-index         : -10; 
}
.submit-box2
{
	font-family     : 'Poiret One', cursive;
    font-weight     : bold;
    color           : gray;
    font-size       : 20px;
    position		: absolute;
	left			: 20%;
	top				: 5%;

   /* padding         : 10px;
    text-align      : center;
    text-decoration-color: black;
	margin			: 0 100px 100px 150px;*/
	z-index         : 10; 
}
/*
.submit-box2
{
	font-family     : 'Poiret One', cursive;
    font-weight     : bold;
    color           : gray;
    position		: absolute;
	left			: 26.5%;
	top				: 25%;

    font-size       : 30px;
    padding         : 10px;
    text-align      : center;
	margin			: 0 100px 100px 150px;
	z-index         : 10; 
}*/